@font-face{
font-family: Rabar_021;
src: url(fonts\Rabar_021.ttf);
}
*{
    font-family: Rabar_021;
}

body{
background-color: #ECCA9C;
opacity: 90%;
}

form{

    background-color: white;
    padding: 10px;
    width: 450px;
    height:520px;
    margin: 350px auto;
    text-align: center;
    border: #ECCA9C;
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 15px;
}

form input{
    display: block;
    padding: 10px;
    margin: 20px;
    width: 350px;
    height: 25px;
    margin-left: 40px;
    margin-top: -5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 232, 232);
    font-size: 20px;
    text-align: right;
}

form button{
    width: 150px;
    height: 45px;
    border: none;
    background-color: #f59f00;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 20px 0px #f59f00;
    font-family: Rabar_021;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

#forgot{
    text-decoration: none;
    color: gray;
    display: flex;
    position: absolute;
    margin-left: 263px;
    margin-top: -30px;
    opacity: 90%;
}
form img{
    margin-bottom: 10px;
}